################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSES-Problem-Set/v16/Browse.VC.opendb
/.vs
